*{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    /* outline: 1px solid black; */
    color: #21222C;
    padding: 0px;
    margin: 0px;
}

.flex-row{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.flex-col{
    display: flex;
    flex-direction: column;
}

html{
    display: flex;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: auto;
    justify-content: center;
    background-attachment: fixed;
    background-size: cover;
    background-image: url('asset/image/index-background.png');
}html#hotel{background-image: url('asset/image/hotel-background.jpg');
}html#restaurant{background-image: url('asset/image/restaurant-background.png');}

.blur{
    backdrop-filter: blur(4px);
}

body{
    display: flex;
    height: auto;
    width: 95%;
    justify-content: center;
}

.center{
    justify-self: center;
    text-align: center;
}

.d-button{ 
    display: flex;
    width: auto;
    padding: 10px;
    margin: 10px;
    height: 50px;
    border: none;
    border-radius: 3px;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}

div.billing-option{
    width: 95%;
    height: 500px;
    display: flex;
    justify-content: space-around;
    padding-top: 100px;
}

div.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    height: 65px;
    backdrop-filter: blur(4px);
}div.navbar *{padding: 5px;}

.option{
    width: 50%;
    height: 50%;
    flex-direction: column;
}

.pad10{
    padding: 10px;
}